.services{
    background: #111;
}
.white{
    color: #fff;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}
.services .content .servicesBx{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    width: 350px;
}
.services .content .servicesBx:hover{
    background: #ec3820;
    transform: scale(1.02);
}
.services .content .servicesBx img{
    max-width: 80px;
    filter: invert(1);
}

.services .content .servicesBx h2{
    font-size: 35px;
    font-weight: 600;
}

@media(max-width:991px){
    .services .content .servicesBx{
        margin: 10px;
    }
}